# Entornos virtuales
.venv/
venv/
env/

# Cache y bytecode de Python
__pycache__/
*.pyc

# Variables de entorno / secretos
.env

# Archivos de IDE
.vscode/
.idea/

#Configuración local de Claude Code
.claude/settings.local.json 
